[defaults]
retry_files_enabled = False
bin_ansible_callbacks = Yes
stdout_callback = homsaplog

[ssh_connection]
pipelining = True
ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s -o ForwardAgent=yes